.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .publisher-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .actions{
    width: 100%;
    display: flex;
    justify-content: space-around;

    .button-wrapper{
      width: 100px;
      padding: 5px 10px;
      background-color: #777777;
      color: #ffffff;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}
