<div class="container">
  <h1 class="title">
    {{publisher.name}} Games
  </h1>

  <mat-card class="example-card">
    <img mat-card-image src="https://cdn-icons-png.flaticon.com/512/4228/4228005.png" alt="publisher-icon">
    <mat-card-content>
      <p>
        Id: {{publisher.id}}
      </p>
      <p>
        Name: {{publisher.name}}
      </p>
      <p>
        Country: {{publisher.country}}
      </p>
      <p>
        Rating: {{publisher.rating}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</div>
